################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/ADPP_CW/.gitignore
/.vs/ADPP_CW/v15/Server/sqlite3/storage.ide-wal
/.vs/ADPP_CW/v15/Server/sqlite3/storage.ide-shm
/.vs/ADPP_CW/v15/Server/sqlite3/storage.ide
/.vs/ADPP_CW/v15/Server/sqlite3/db.lock
/.vs/labs_VTS/v15/.suo
/.vs/ADPP_CW/v15/.suo
/ADPP_CW/obj/project.assets.json
/ADPP_CW/obj/ADPP_CW.csproj.nuget.g.targets
/ADPP_CW/obj/ADPP_CW.csproj.nuget.g.props
/ADPP_CW/obj/ADPP_CW.csproj.nuget.cache
/ADPP_CW_test/bin/Debug/netcoreapp2.1
/ADPP_CW_test/obj
/ADPP_CW_test
/compile_commands.json
/ADPP_CW/bin/Debug/UiaComWrapper.dll
/ADPP_CW/bin/Debug/System.Xml.XPath.XmlDocument.dll
/ADPP_CW/bin/Debug/System.Xml.XPath.dll
/ADPP_CW/bin/Debug/System.Xml.XmlDocument.dll
/ADPP_CW/bin/Debug/System.Windows.Forms.dll
/ADPP_CW/bin/Debug/System.Runtime.Loader.dll
/ADPP_CW/bin/Debug/Microsoft.VisualStudio.TestTools.UITest.ExtensionUtilities.dll
/ADPP_CW/bin/Debug/Microsoft.VisualStudio.TestTools.UITest.Extension.dll
/ADPP_CW/bin/Debug/Microsoft.VisualStudio.TestTools.UITest.Common.dll
/ADPP_CW/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/ADPP_CW/bin/Debug/Microsoft.VisualStudio.OLE.Interop.dll
/ADPP_CW/bin/Debug/Interop.UIAutomationClient.dll
/ADPP_CW/bin/Debug/ru
/.vs
/.sonarqube
/.cxxresults
/ADPP_CW/.sonarqube/bin/targets
/ADPP_CW/.sonarqube/bin/SonarScanner.MSBuild.Tasks.dll
/ADPP_CW/.sonarqube/bin/SonarScanner.MSBuild.Common.dll
/ADPP_CW/.sonarqube
/ADPP_CW/bin/Debug/ADPP_CW.exe.RoslynCA.json
/coverage.dcvr
